<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @question.userid %>
</p>

<p>
  <strong>Filterid:</strong>
  <%= @question.filterid %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
